
<nav class="bg-gray-300 border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/images/freshcart-logo.svg" class="" alt="">
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:flex md:w-auto md:gap-52" id="navbar-default">
      @if(isLogin==true){
        <ul class="flex flex-col   mt-4 border rounded-lg  md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a routerLink="/home" routerLinkActive="active bg-green-500" class="block py-2 px-3 rounded-sm   text-gray-700" aria-current="page">Home</a>
            </li>
            <li>
              <a routerLink="/cart" routerLinkActive="active bg-green-500" class="block py-2 px-3 rounded-sm  text-gray-700" aria-current="page">Cart</a>
            </li>
            <li>
              <a routerLink="/product" routerLinkActive="active bg-green-500 " class="block py-2 px-3 rounded-sm   text-gray-700" aria-current="page">Product</a>
            </li>
            <li>
              <a routerLink="/categories" routerLinkActive="active bg-green-500" class="block py-2 px-3 rounded-sm   text-gray-700" aria-current="page">catigories</a>
            </li>
            <li>
              <a routerLink="/brand" routerLinkActive="active bg-green-500" class="block py-2 px-3 rounded-sm text-gray-700" aria-current="page">Brands</a>
            </li>
          </ul>
      }
        <ul class="flex  flex-col  mt-4 border rounded-lg  md:flex-row  rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            
@if (isLogin==false) {
    <li>
    <a routerLink="/login" routerLinkActive="active bg-green-500" class="block py-2 px-3 rounded-sm   text-gray-700" aria-current="page">login</a>
</li>
<li>
  <a routerLink="/register" routerLinkActive="active bg-green-500"  class="block py-2 px-3 rounded-sm   text-gray-700" aria-current="page">register</a>
</li>
}
@if(isLogin==true){
    <li>
        <a class="block py-2 px-3 rounded-sm md:bg-transparent  text-gray-700 cursor-pointer" aria-current="page" (click)="logout()">logout</a>
      </li>
}
      <li>
              <a class="block py-2 px-3 rounded-sm md:bg-transparent  text-gray-700" aria-current="page"><i class="fa fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a class="block py-2 px-3 rounded-sm md:bg-transparent  text-gray-700" aria-current="page"><i class="fa fa-brands fa-twitter"></i></a>
            </li>
            <li>
                <a class="block py-2 px-3 rounded-sm md:bg-transparent  text-gray-700" aria-current="page"><i class="fa fa-brands fa-tiktok"></i></a>
              </li>
              <li>
                <a class="block py-2 px-3 rounded-sm md:bg-transparent  text-gray-700" aria-current="page"><i class="fa fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a class="block py-2 px-3 rounded-sm md:bg-transparent  text-gray-700" aria-current="page"><i class="fa fa-brands fa-youtube"></i></a>
              </li>
              <li>
                <a class="block py-2 px-3 rounded-sm md:bg-transparent  text-gray-700" aria-current="page"><i class="fa fa-brands fa-linkedin-in"></i></a>
              </li>
          </ul>
      </div>
    </div>
  </nav>